<!-- extends quest/base_quest.html-->
{% extends "quest/base_quest.html" %}

<!-- override block_head -->
{% block block_head %}
<!-- initNewQuest.html block_head -->
<!-- css -->
<link type="text/css" rel="stylesheet" href="/static/ci/css/initNewQuest.css" >
<!-- js -->
<script type="text/javascript" src="/static/ci/js/initNewQuest.js"></script>
{% endblock block_head %}

<!-- override block_content -->
{% block block_content %}
<!-- initNewQuest.html block_content -->
<h1>發起新任務</h1>
<!-- 發起新任務 form -->
<p>
    說明：
    在尚未有用戶接受任務前，越多人按贊則任務的 獎勵PV 會越高。
    當有用戶接受並開始執行任務後，就無法再繼續按贊了，獎勵PV也不再變動。
    任務執行中發起人可隨時終結任務，但會扣除發起人的個人PV，
    扣除的數量為該任務獎勵PV的 二分之一。
</p>
<form action="" method="post">
    <!-- CSRF 保護 -->
    {% csrf_token %}
    <!-- 任務標題 -->
    <div>
        {{ formCIQuest.strHeadline.errors }}
        <label for="{{ formCIQuest.strHeadline.id_for_label }}">任務標題：</label>
        {{ formCIQuest.strHeadline }}
    </div>
    <!-- 任務 tags -->
    <div>
        <label for="inputQuestTags">任務標籤：</label>
        <input id="inputQuestTags" name="inputQuestTags" value=""></input>
    </div>
    <!-- 任務內容 -->
    <div>
        {{ formCIQuest.strContent.errors }}
        <span><b>任務內容：</b></span>
        <div>
            {{ formCIQuest.strContent }}
        </div>
    </div>
    <input type="submit" class="btn btn-danger btn-sm" value="發起"></input>
</form>
{% endblock block_content %}