<!-- extends quest/base_quest.html-->
{% extends "quest/base_quest.html" %}

<!-- override block_head -->
{% block block_head %}
<!-- questViewer.html block_head -->
<!-- css -->
<link type="text/css" rel="stylesheet" href="/static/ci/css/questViewer.css" >
<!-- js -->
<script type="text/javascript" src="/static/ci/js/questViewer.js"></script>
{% endblock block_head %}

<!-- override block_content -->
{% block block_content %}
<!-- questViewer.html block_content -->
<!-- 任務狀態 -->
<!-- 任務標題 -->
<div id="divHeadline" class="row">
    {{ questTarget.strHeadline }}
</div>
<!-- 任務標籤 -->
<hr><!-- 水平線 -->
<!-- 任務內容 -->
<div id="divContent" class="row">
    {{ questTarget.strContent }}
</div>
<!-- 剩餘時間 -->
<!-- 任務獎勵 -->
<!-- 互動按鈕 -->
<div id="divInteractiveBtn" class="row">
    {% if questTarget.strState == "new" %}
    <!-- 任務狀態 - new -->
        {% if isInitiator %}
        <!-- 發起人 -->
        <button id="btnDeleteQuest" class="btn btn-danger btn-xs" type="button">
            刪除任務
        </button>
        {% else %}
        <!-- 除發起人以外的人 -->
        <button id="btnLikeQuest" class="btn btn-danger btn-xs" type="button">
            <span class="glyphicon glyphicon-thumbs-up"></span>
        </button>
        <button id="btnAcceptQuest" class="btn btn-danger btn-xs" type="button">
            接受任務
        </button>
        {% endif %}
    {% elif questTarget.strState == "processing" %}
    <!-- 任務狀態 - processing -->
        {% if isInitiator %}
        <!-- 發起人 -->
        <button id="btnQuestReached" class="btn btn-danger btn-xs" type="button">
            目標達成
        </button>
        <button id="btnQuestFailed" class="btn btn-danger btn-xs" type="button">
            任務失敗
        </button>
        {% elif isExecutor %}
        <!-- 執行人 -->
        <button id="btnAbandonQuest" class="btn btn-danger btn-xs" type="button">
            放棄任務
        </button>
        {% else %}
        <!-- 非發起人亦非執行人 -->
        <span>無相關操作</span>
        {% endif %}
    {% elif questTarget.strState == "completed" %}
    <!-- 任務狀態 - completed -->
        {% if isExecutor %}
        <!-- 執行人 -->
        <button id="btnAccomplishQuest" class="btn btn-danger btn-xs" type="button">
            完成任務
        </button>
        {% else %}
        <!-- 除執行人以外的人 -->
        <span>無相關操作</span>
        {% endif %}
    {% elif questTarget.strState == "ended" %}
    <!-- 任務狀態 - ended -->
        <span>無相關操作</span>
    {% else %}
    {% endif %}
</div>
{% endblock block_content %}