<!-- extends quest/base_quest.html-->
{% extends "quest/base_quest.html" %}

<!-- override block_head -->
{% block block_head %}
<!-- questViewer.html block_head -->
<!-- css -->
<link type="text/css" rel="stylesheet" href="/static/ci/css/questViewer.css?{% now 'YmdA' %}" >
<!-- js -->
<script type="text/javascript" src="/static/ci/js/questViewer.js?{% now 'YmdA' %}"></script>
<script type="text/javascript">
    var strQID = "{{ questTarget.strQID }}";
</script>
{% endblock block_head %}

<!-- override block_header -->
{% block block_header %}
<!-- questViewer.html block_header -->
{% endblock block_header %}

<!-- override block_sidebar -->
{% block block_sidebar %}
<!-- questViewer.html block_sidebar -->
{% endblock block_sidebar %}

<!-- override block_footer -->
{% block block_footer %}
<!-- questViewer.html block_footer -->
{% endblock block_footer %}

<!-- override block_content -->
{% block block_content %}
<!-- questViewer.html block_content -->
<!-- 主要資料區 -->
<div id="divQuestMajorData" class="row">
    <div class="col-xs-8">
        <!-- 任務標題 -->
        <div id="divQuestHeadline" class="text-left">
            <h4>{{ questTarget.strHeadline }}</h4>
        </div>
        <!-- 相關角色 -->
        <div id="divQuestRoles" class="row">
            <span class="col-xs-6 text-left">發起人：
                <a target="_blank" href="/core/ciuserViewer/{{ questTarget.ciuserInitiator.strCIUserUID }}/">
                {{ questTarget.ciuserInitiator.strDisplayName }}
                </a>
            </span>
            <span class="col-xs-6 text-right">執行人：
                {% if questTarget.ciuserExecutor %}
                <a target="_blank" href="/core/ciuserViewer/{{ questTarget.ciuserExecutor.strCIUserUID }}/">
                    {{ questTarget.ciuserExecutor.strDisplayName }}
                </a>
                {% else %}
                <span>尚無人執行</span>
                {% endif %}
            </span>
        </div>
    </div>
    <!-- 任務狀態 -->
    <div id="divQuestState" class="col-xs-4 text-right">
        <!-- 任務狀態圖示 -->
        {% if questTarget.strState == "new" %}
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        {% elif questTarget.strState == "matching" %}
        <span class="glyphicon glyphicon-plus-sign"></span>
        {% elif questTarget.strState == "processing" %}
        <span class="glyphicon glyphicon-question-sign"></span>
        {% elif questTarget.strState == "complete" %}
        <span class="glyphicon glyphicon-ok-sign"></span>
        {% elif questTarget.strState == "incomplete" %}
        <span class="glyphicon glyphicon-remove-sign"></span>
        {% elif questTarget.strState == "end_success" %}
        <span class="glyphicon glyphicon-ok"></span>
        {% elif questTarget.strState == "end_failure" %}
        <span class="glyphicon glyphicon-remove"></span>
        {% else %}
        {% endif %}
    </div>
</div>
<!-- 次要資料區 -->
<div id="divQuestMinorData" class="row">
    
    <!-- 任務標籤 -->
    <div id="divQuestTags">
        <span>標籤：</span>
        {% for ciquesttag in questTarget.setCIQuestTag.all %}
        <span class="label label-primary">{{ ciquesttag.strName }}</span>
        {% endfor %}
    </div>
    <!-- 任務內容 -->
    <div id="divQuestContent">
        {{ questTarget.strContent|safe }}
    </div>
    <!-- 剩餘時間 -->
    <!-- 任務獎勵 -->
    <div id="divQuestReward">
        <h4>獎勵： <span id="strRewardPV">{{ questTarget.intRewardPV }}</span> PV</h4>
    </div>
</div>
<!-- 互動按鈕區 -->
<div id="divQuestInteractiveBtn" class="row text-right">
    {% if questTarget.strState == "new" %}
    <!-- 任務狀態 - new -->
        {% if isInitiator %}
        <!-- 發起人 -->
        <button class="btn btn-danger btn-sm disabled" type="button">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            <span class="badge">{{ questTarget.setLikedCIUser.all.count }}</span>
        </button>
        <button class="btn btn-danger btn-sm disabled" type="button">
            申請人數
            <span class="badge">{{ questTarget.setCIuserApplicant.all.count }}</span>
        </button>
        <button id="btnDeleteQuest" class="btn btn-danger btn-sm" type="button">
            刪除任務
        </button>
        {% else %}
        <!-- 除發起人以外的人 -->
            {% if request.user.ciuser in questTarget.setLikedCIUser.all %}
            <button id="btnLikeOrDislikeQuest" class="btn btn-danger btn-sm" type="button" data-tooltip="on" title="取消喜歡">
                <span class="glyphicon glyphicon-thumbs-up"></span>
                <span id="strLikedCount" class="badge">{{ questTarget.setLikedCIUser.all.count }}</span>
            </button>
            {% else %}
            <button id="btnLikeOrDislikeQuest" class="btn btn-danger btn-sm" type="button" data-tooltip="on" title="我喜歡">
                <span class="glyphicon glyphicon-thumbs-up"></span>
                <span id="strLikedCount" class="badge">{{ questTarget.setLikedCIUser.all.count }}</span>
            </button>
            {% endif %}
        <button class="btnApplyQuest btn btn-danger btn-sm" type="button">
            申請執行任務
        </button>
        {% endif %}
    {% elif questTarget.strState == "matching" %}
    <!-- 任務狀態 - matching -->
        {% if isInitiator %}
        <!-- 發起人 -->
        <div class="dropup">
            <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
                申請人數
                <span class="badge">{{ questTarget.setCIuserApplicant.all.count }}</span>
            </button>
            <ul id="ulApplicantDropupMenu" class="dropdown-menu dropdown-menu-right">
                {% for ciuseApplicant in questTarget.setCIuserApplicant.all %}
                <li>
                    <div class="row">
                        <!-- 申請人 頭像 -->
                        <div class="col-xs-1">
                            <img class="img-circle" src="{{ ciuseApplicant.avatarThumbnail.url }}" height="20" width="20">
                        </div>
                        <!-- 申請人 顯示名稱 -->
                        <a class="col-xs-5" target="_blank" href="/core/ciuserViewer/{{ ciuseApplicant.strCIUserUID }}/">
                            {{ ciuseApplicant.strDisplayName }}
                        </a>
                        <!-- 按鈕 -->
                        <div class="col-xs-6">
                            <!-- 申請人 CIuserUID 隱藏 -->
                            <input type="hidden" class="strApplicantCIUserUID" name="strApplicantCIUserUID" value={{ ciuseApplicant.strCIUserUID }}></input>
                            <!-- 接受申請 按鈕 -->
                            <button class="btnAcceptApplication btn btn-danger btn-xs" type="button">
                                接受申請
                            </button>
                            <!-- 拒絕申請 按鈕 -->
                            <button class="btnRejectApplication btn btn-danger btn-xs" type="button">
                                拒絕申請
                            </button>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% elif isApplicant %}
        <!-- 申請人 -->
        <button id="btnCancelApplication" class="btn btn-danger btn-sm" type="button">
            取消申請
        </button>
        {% else %}
        <!-- 非發起人亦非申請人 -->
        <button class="btnApplyQuest btn btn-danger btn-sm" type="button">
            申請執行任務
        </button>
        {% endif %}
    {% elif questTarget.strState == "processing" %}
    <!-- 任務狀態 - processing -->
        {% if isInitiator %}
        <!-- 發起人 -->
        <button id="btnQuestReached" class="btn btn-danger btn-sm" type="button">
            成功達成目標
        </button>
        <button id="btnTerminateQuest" class="btn btn-danger btn-sm" type="button">
            終結任務
        </button>
        {% elif isExecutor %}
        <!-- 執行人 -->
        <button id="btnAbandonQuest" class="btn btn-danger btn-sm" type="button">
            放棄任務
        </button>
        {% else %}
        <!-- 非發起人亦非執行人 -->
        <span>無相關操作</span>
        {% endif %}
    {% elif questTarget.strState == "complete" %}
    <!-- 任務狀態 - complete -->
        {% if isExecutor %}
        <!-- 執行人 -->
        <button id="btnAccomplishQuest" class="btn btn-danger btn-sm" type="button">
            完成任務
        </button>
        {% else %}
        <!-- 除執行人以外的人 -->
        <span>無相關操作</span>
        {% endif %}
    {% elif questTarget.strState == "incomplete" %}
    <!-- 任務狀態 - incomplete -->
        {% if isExecutor %}
        <!-- 執行人 -->
        <button id="btnQuestUnreachable" class="btn btn-danger btn-sm" type="button">
            任務已失敗
        </button>
        {% else %}
        <!-- 除執行人以外的人 -->
        <span>無相關操作</span>
        {% endif %}
    {% elif "ended" in questTarget.strState %}
    <!-- 任務狀態 - ended -->
        <span>無相關操作</span>
    {% else %}
    {% endif %}
</div>
{% endblock block_content %}

<!-- override block_hidden -->
{% block block_hidden %}
<!-- questViewer.html block_hidden -->
{{ block.super }} <!-- 複製上層 template block_hidden 的內容 -->
<!-- 確認申請執行任務 Dialog -->
<div id="dialogConfirmApplyQuest" class="dialogHidden" title="申請執行任務?">
    <p>
        <span class="ui-icon ui-icon-alert"></span>
        <p>等待 發起人 接受申請後再開始執行任務，開始執行後如果：</p>
        <p>任務成功 將獲得 {{ questTarget.intRewardPV }} 點個人 PV</p>
        <p>中途放棄任務 將扣除 {% widthratio questTarget.intRewardPV 2 1 %} 點個人 PV</p>
        <p>確定要 申請執行任務?</p>
    </p>
</div>
<!-- 確認刪除任務 Dialog -->
<div id="dialogConfirmDeleteQuest" class="dialogHidden" title="刪除任務?">
    <p>
        <span class="ui-icon ui-icon-alert"></span>
        確定要刪除任務?
    </p>
</div>
<!-- 確認終結任務 Dialog -->
<div id="dialogConfirmTerminateQuest" class="dialogHidden" title="終結任務?">
    <p>
        <span class="ui-icon ui-icon-alert"></span>
        您將會被扣除 {% widthratio questTarget.intRewardPV 2 1 %} 點個人 PV！確定要終結任務?
    </p>
</div>
<!-- 確認放棄任務 Dialog -->
<div id="dialogConfirmAbandonQuest" class="dialogHidden" title="放棄任務?">
    <p>
        <span class="ui-icon ui-icon-alert"></span>
        您將會被扣除 {% widthratio questTarget.intRewardPV 2 1 %} 點個人 PV！確定要放棄任務?
    </p>
</div>
{% endblock block_hidden %}