/*
Copyright © 2017, MuChu Hsu
Contributed by Muchu Hsu (muchu1983@gmail.com)
This file is part of BSD license

<https://opensource.org/licenses/BSD-3-Clause>
*/
/* body */
body {
    height: 100%;
}
/* 導覽按鈕圖 */
.spanNavbarIcon {
    font-size: 20px;
}
/* 團隊 Panel */
#raidPanel {
    position: absolute;
    z-index: 10;
    float: left;
    padding: 0px;
    top: 10vh;
    left: 0px;
    min-height: calc(100% - 10vh);
    max-height: calc(100% - 10vh);
    height: calc(100% - 10vh);
    width: 40vw;
    overflow-y: auto;
}
#raidPanel li{
    margin-left: 5px;
    margin-right: 5px;
    border-left: none;
    border-right: none;
}
/*團隊 角色顏色*/
.roleFollower{
    color: forestgreen;
}
.roleHost{
    color: royalblue;
}
.roleLeader{
    color: darkorchid;
}
/* 我的追隨者 隱藏加入點 */
#liHiddenMyFollowerAddPoint {
    display: none;
}
/* 隱藏的各種提示對話框 */
.dialogHidden {
    display: none;
    float: left;
    margin: 12px 12px 20px 0px;
}
/* 任務檢視 iframe 關閉按鈕 */
#btnCloseQuestViewerIFrame{
    position: relative;
    float: right;
}
/* 隱藏的任務檢視 iframe */
.divHiddenQuestViewerIFrame {
    position: fixed;
    display: none;
    top: 10vh;
    left: 25vw;
    z-index: -20;
    border: 0px;
    padding: 0px;
}
.divHiddenQuestViewerIFrame iframe {
    width: 0px;
    height: 0px;
    border: 0px;
    display: none;
    visibility: hidden;
    padding: 0px;
}
/* 顯示的任務檢視 iframe */
.divShowQuestViewerIFrame {
    position: fixed;
    display: block;
    background-color: black;
    top: 10vh;
    left: 25vw;
    z-index: 20;
    border: 2px solid gold;
    border-radius: 5px;
    padding: 0px;
    overflow-y: none;
}
.divShowQuestViewerIFrame iframe {
    width: 50vw;
    height: 80vh;
    border: 0px;
    display: block;
    visibility: visible;
    border: 2px solid goldenrod;
    border-radius: 5px;
    padding: 0px;
}