/*
Copyright © 2017, MuChu Hsu
Contributed by Muchu Hsu (muchu1983@gmail.com)
This file is part of BSD license

<https://opensource.org/licenses/BSD-3-Clause>
*/
/* body */
body {
    height: 100%;
}
/* 設定 團隊按鈕 無論螢幕大小永遠顯示 */
.navbar-toggle {
    display: block;
    float: left;
}
/* 團隊 Panel */
#raidPanel {
    position: absolute;
    z-index: 10;
    float: left;
    padding: 0px;
    top: 80px;
    left: 0px;
    min-height: calc(100% - 80px);
    max-height: calc(100% - 80px);
    height: calc(100% - 80px);
    width: 40%;
    overflow-y: auto;
}

/*訊息 角色顏色*/
.roleFollower{
    color: forestgreen;
    background-color: lavender;
}

.roleHost{
    color: royalblue;
    background-color: lavender;
}

.roleLeader{
    color: darkorchid;
    background-color: lavender;
}

/* 我的追隨者 隱藏加入點 */
#liHiddenMyFollowerAddPoint {
    display: none;
}

/* 隱藏的各種提示對話框 */
.dialogHidden {
    display: none;
    float: left;
    margin: 12px 12px 20px 0px;
}
/* 隱藏的任務檢視 iframe */
.divHiddenQuestViewerIFrame {
    position: fixed;
    display: none;
    top: 15vh;
    left: 10vw;
    z-index: -20;
    border: 0px;
    padding: 0px;
}

.divHiddenQuestViewerIFrame iframe {
    width: 0px;
    height: 0px;
    border: 0px;
    display: none;
    visibility: hidden;
    padding: 0px;
}

/* 顯示的任務檢視 iframe */
.divShowQuestViewerIFrame {
    position: fixed;
    display: block;
    top: 15vh;
    left: 10vw;
    z-index: 20;
    border: 2px solid red;
    border-radius: 5px;
    padding: 0px;
    overflow-y: scroll;
}

.divShowQuestViewerIFrame iframe {
    width: 80vw;
    height: 70vh;
    border: 0px;
    display: block;
    visibility: visible;
    border: 2px solid green;
    border-radius: 5px;
    padding: 0px;
}