/*聊天訊息內容*/
#ulChatMessage{
    height: 75vh;
    overflow: auto;
    background-color: lavender;
}
/*訊息角色*/
.roleAnonymous{
    color: lightgray;
    background-color: lavender;
}

.roleCiuser{
    color: white;
    background-color: lavender;
}

.roleFollower{
    color: forestgreen;
    background-color: lavender;
}

.roleHost{
    color: royalblue;
    background-color: lavender;
}

.roleLeader{
    color: darkorchid;
    background-color: lavender;
}

.roleSys{
    color: coral;
    background-color: lavender;
}