/*
Copyright © 2017, MuChu Hsu
Contributed by Muchu Hsu (muchu1983@gmail.com)
This file is part of BSD license

<https://opensource.org/licenses/BSD-3-Clause>
*/
/*聊天訊息內容*/
#ulChatMessage{
    height: 75vh;
    overflow: auto;
    background-color: lavender;
}
/*訊息顏色說明*/
#ulMsgColorGuide {
    background-color: lavender;
}
/*訊息 角色顏色*/
.roleAnonymous{
    color: lightgray;
    background-color: lavender;
}

.roleCiuser{
    color: white;
    background-color: lavender;
}

.roleFollower{
    color: forestgreen;
    background-color: lavender;
}

.roleHost{
    color: royalblue;
    background-color: lavender;
}

.roleLeader{
    color: darkorchid;
    background-color: lavender;
}

.roleSys{
    color: coral;
    background-color: lavender;
}