/*
Copyright © 2017, MuChu Hsu
Contributed by Muchu Hsu (muchu1983@gmail.com)
This file is part of BSD license

<https://opensource.org/licenses/BSD-3-Clause>
*/
/* 聊天頻道 iframe */
#iframeChatChannel {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 80vh;
    position: relative;
}
/* 任務狀態圖示 */
.spanQuestStateIcon {
    font-size: 20px;
    color: gold;
}