/*
Copyright © 2017, MuChu Hsu
Contributed by Muchu Hsu (muchu1983@gmail.com)
This file is part of BSD license

<https://opensource.org/licenses/BSD-3-Clause>
*/
/* 搜尋結果 li */
ul li {
    list-style-type: none;
}

/* 任務狀態圖示 */
.spanQuestStateIcon {
    font-size: 20px;
    color: gold;
}

/* 搜尋 tag 時動態產生的 form*/
#formPostSearchTag{
    display: none;
}