<!-- extends core/base_core.html-->
{% extends "core/base_core.html" %}

<!-- override block_head -->
{% block block_head %}
<!-- ciuserViewer.html block_head -->
<!-- css -->
<link type="text/css" rel="stylesheet" href="/static/ci/css/ciuserViewer.css" >
<!-- js -->
<script type="text/javascript" src="/static/ci/js/ciuserViewer.js"></script>
{% endblock block_head %}

<!-- override block_content -->
{% block block_content %}
<!-- ciuserViewer.html block_content -->

{% endblock block_content %}