<!-- extends core/base_core.html-->
{% extends "core/base_core.html" %}

<!-- override block_head -->
{% block block_head %}
<!-- css -->
<link type="text/css" rel="stylesheet" href="/static/ci/css/main.css" >
<!-- js -->
<script type="text/javascript" src="/static/ci/js/main.js"></script>
<script type="text/paperscript" src="/static/ci/js/canvas_main.paper.js" canvas="canvas_main"></script>
{% endblock block_head %}

<!-- override block_content -->
{% block block_content %}
<div class="row text-center">
    <canvas id="canvas_main"></canvas>
</div>
{% endblock block_content %}