<!-- extends core/base_core.html-->
{% extends "core/base_core.html" %}

<!-- override block_head -->
{% block block_head %}
<!-- css -->
<link type="text/css" rel="stylesheet" href="/static/ci/css/main.css" >
<!-- js -->
<script type="text/javascript" src="/static/ci/js/main.js"></script>
<script type="text/paperscript" src="/static/ci/js/canvas_main.paper.js" canvas="canvas_main"></script>
{% endblock block_head %}

<!-- override block_content -->
{% block block_content %}
<div class="row text-center">
    <canvas id="canvas_main"></canvas>
</div>
<img class="hiddenIcon" id="iconUser" src="/static/ci/img/quest-state-demo/user.png" width="100" height="100">
<img class="hiddenIcon" id="iconQuestStateNew" src="/static/ci/img/quest-state-demo/exclamation-sign.png" width="100" height="100">
<img class="hiddenIcon" id="iconQuestStateMatching" src="/static/ci/img/quest-state-demo/plus-sign.png" width="100" height="100">
<img class="hiddenIcon" id="iconQuestStateProcessing" src="/static/ci/img/quest-state-demo/question-sign.png" width="100" height="100">
<img class="hiddenIcon" id="iconQuestStateComplete" src="/static/ci/img/quest-state-demo/ok-sign.png" width="100" height="100">
<img class="hiddenIcon" id="iconQuestStateIncomplete" src="/static/ci/img/quest-state-demo/remove-sign.png" width="100" height="100">
<img class="hiddenIcon" id="iconQuestStateEndSuccess" src="/static/ci/img/quest-state-demo/ok.png" width="100" height="100">
<img class="hiddenIcon" id="iconQuestStateEndFailure" src="/static/ci/img/quest-state-demo/remove.png" width="100" height="100">
{% endblock block_content %}