<!-- extends base.html-->
{% extends "core/base_core.html" %}

<!-- override block_head -->
{% block block_head %}
<!-- notice.html block_head -->
{% endblock block_head %}

<!-- override block_header -->
{% block block_header %}
<!-- notice.html block_header -->
{% endblock block_header %}

<!-- override block_sidebar -->
{% block block_sidebar %}
<!-- notice.html block_sidebar -->
{% endblock block_sidebar %}

<!-- override block_hidden -->
{% block block_hidden %}
<!-- notice.html block_hidden -->
{% endblock block_hidden %}

<!-- override block_footer -->
{% block block_footer %}
<!-- notice.html block_footer -->
{% endblock block_footer %}

<!-- override block_content -->
{% block block_content %}
<!-- notice.html block_content -->
{{ strMsg }}
{% endblock block_content %}