<!-- extends core/searchCIUser.html-->
{% extends "core/searchCIUser.html" %}

<!-- override block_head -->
{% block block_head %}
<!-- css -->
<link type="text/css" rel="stylesheet" href="/static/ci/css/searchLeader.css" >
<!-- js -->
<script type="text/javascript" src="/static/ci/js/searchLeader.js"></script>
<!-- custom script in this page -->
<script type="text/javascript">
    var strSessionKey = "{{ request.session.session_key }}"
</script>
{% endblock block_head %}

<!-- override block_after_search -->
{% block block_after_search %}
<!-- searchLeader.html block_after_search -->
<form action="/core/resetLeader/" method="post">
    <!-- CSRF 保護 -->
    {%  csrf_token %}
    <button class="btn btn-default" type="submit">
        確定
    </button>
</form>
{% endblock block_after_search %}
