<!-- extends core/searchCIUser.html-->
{% extends "core/searchCIUser.html" %}

<!-- override block_head -->
{% block block_head %}
<!-- searchLeader.html block_head -->
<!-- css -->
<link type="text/css" rel="stylesheet" href="/static/ci/css/searchCIUser.css" >
<link type="text/css" rel="stylesheet" href="/static/ci/css/searchLeader.css" >
<!-- js -->
<script type="text/javascript" src="/static/ci/js/searchCIUser.js"></script>
<script type="text/javascript" src="/static/ci/js/searchLeader.js"></script>
{% endblock block_head %}

<!-- override block_hidden -->
{% block block_hidden %}
<!-- searchLeader.html block_hidden -->
{{ block.super }} <!-- 複製上層 template block_hidden 的內容 -->
<!-- 確認重設領導人 Dialog -->
<div id="dialogConfirmResetLeader" class="dialogHidden" title="重設領導人?">
    <p>
        <span class="ui-icon ui-icon-alert"></span>
        每次重設領導人將一併把個人 PV 值歸 0，是否確定要重設領導人?
    </p>
</div>
<!-- 重設領導人 結果 Dialog -->
<div id="dialogResetLeaderResult" class="dialogHidden" title="結果">
    <p id="strResetResult">
        <span class="ui-icon ui-icon-info"></span>
    </p>
</div>
{% endblock block_hidden %}

<!-- override block_extra_action -->
{% block block_extra_action %}
<!-- searchLeader.html block_extra_action -->
<a type="button" class="btn btn-default btnResetLeader col-xs-2" href="javascript: void(0)">設為領導人</a>
{% endblock block_extra_action %}
