<!-- extends core/base_core.html-->
{% extends "core/base_core.html" %}

<!-- override block_head -->
{% block block_head%}
{% endblock block_head%}

<!-- override block_content -->
{% block block_content%}
<h1>登入</h1>
<!-- 登入 form -->
<form action="" method="post">
    <!-- CSRF 保護 -->
    {% csrf_token %}
    <!-- 帳號 -->
    <div>
        {{ form.username.errors }}
        <label for="{{ form.username.id_for_label }}">帳號：</label>
        {{ form.username }}
    </div>
    <!-- 密碼 -->
    <div>
        {{ form.password.errors }}
        <label for="{{ form.password.id_for_label }}">密碼：</label>
        {{ form.password }}
    </div>
    <input type="submit" class="btn btn-sm btn-primary" value="登入" />
</form>
{% endblock block_content%}