<!-- extends core/base_core.html-->
{% extends "core/base_core.html" %}

<!-- override block_head -->
{% block block_head%}
{% endblock block_head%}

<!-- override block_content -->
{% block block_content%}
<h1>登入</h1>
<!-- 登入 form -->
<form action="" method="post">
    <!-- CSRF 保護 -->
    {% csrf_token %}
    <label for="username">用戶名稱:</label>
    <input type="text" name="username" value="" id="username"> <br />
    <label for="password">用戶密碼:</label>
    <input type="password" name="password" value="" id="password"> <br />
    <input type="submit" value="登入" />
</form>
{% endblock block_content%}