<!-- extends core/base_core.html-->
{% extends "core/base_core.html" %}

<!-- override block_head -->
{% block block_head %}
<!-- js -->
<script type="text/javascript" src="/static/ci/js/profiles.js"></script>
{% endblock block_head %}

<!-- override block_content -->
{% block block_content %}
<h3>{{ strUsername }} 的個人資料</h3>
<!-- 頭像 -->
<div class="text-left">
    <img src="/{{ request.user.ciuser.avatarThumbnail.url }}" height="100" width="100">
</div>
<!-- 頭像 POST form -->
<form action="/accounts/uploadAvatarThumbnail/" method="post" enctype="multipart/form-data">
    <!-- CSRF 保護 -->
    {% csrf_token %}
    <input type="file" class="btn btn-xs btn-default" name="avatarThumbnail"></input>
    <input type="submit" class="btn btn-sm btn-primary" value="上傳頭像"></input>
</form>
<!-- 個人資料 POST form -->
<form action="" method="post">
    <!-- CSRF 保護 -->
    {% csrf_token %}
    <label for="reset_password_1">重設密碼：</label>
    <input id="reset_password_1" type="password" name="reset_password_1" maxlength="20" placeholder="非必填">
    <label for="reset_password_2">密碼確認：</label>
    <input id="reset_password_2" type="password" name="reset_password_2" maxlength="20" placeholder="非必填">
    <!-- User -->
    <div>
        {{ formUser.email.errors }}
        <label for="{{ formUser.email.id_for_label }}">電子信箱：</label>
        {{ formUser.email }}
    </div>
    <!-- CIUser -->
    <div>
        {{ formCIUser.strDisplayName.errors }}
        <label for="{{ formRegisterUser.strDisplayName.id_for_label }}">顯示名稱：</label>
        {{ formCIUser.strDisplayName }}
    </div>
    <input type="submit" class="btn btn-sm btn-primary" value="變更資料">
</form>
<!-- email 認證 -->
<span>email verified: {{ isEmailVerified }}</span>
<button type="button" class="btnSendEmailVerification btn btn-sm btn-primary">寄發 email 認證信</button>
{% endblock block_content %}