<!-- extends core/base_core.html-->
{% extends "core/base_core.html" %}

<!-- override block_head -->
{% block block_head%}

{% endblock block_head%}

<!-- override block_content -->
{% block block_content%}
<h1>註冊新帳號</h1>
<!-- 註冊 form -->
<form action="" method="post">
    <!-- CSRF 保護 -->
    {% csrf_token %}
    <div>
        {{ formRegisterUser.username.errors }}
        <label for="{{ formRegisterUser.username.id_for_label }}">輸入帳號：</label>
        {{ formRegisterUser.username }}
    </div>
    <div>
        {{ formRegisterUser.password1.errors }}
        <label for="{{ formRegisterUser.password1.id_for_label }}">輸入密碼：</label>
        {{ formRegisterUser.password1 }}
    </div>
    <div>
        {{ formRegisterUser.password2.errors }}
        <label for="{{ formRegisterUser.password2.id_for_label }}">密碼確認：</label>
        {{ formRegisterUser.password2 }}
    </div>
    <!-- 我不是機器人 -->
    <div>
        {{ formRegisterUser.captcha }}
    </div>
    <input type="submit" class="btn btn-sm btn-primary" value="註冊">
</form>
{% endblock block_content%}