<!-- extends base.html-->
{% extends "base.html" %}

<!-- override block_head -->
{% block block_head %}
<!-- base_chat.html block_head -->
{% endblock block_head %}

<!-- override block_header -->
{% block block_header %}
<!-- base_chat.html block_header -->
{% endblock block_header %}

<!-- override block_sidebar -->
{% block block_sidebar %}
<!-- base_chat.html block_sidebar -->
{% endblock block_sidebar %}

<!-- override block_content -->
{% block block_content %}
<!-- base_chat.html block_content -->
{% endblock block_content %}

<!-- override block_hidden -->
{% block block_hidden %}
<!-- base_chat.html block_hidden -->
{% endblock block_hidden %}

<!-- override block_footer -->
{% block block_footer %}
<!-- base_chat.html block_footer -->
{% endblock block_footer %}