<!-- extends chat/base_chat.html -->
{% extends "chat/base_chat.html" %}

<!-- override block_head -->
{% block block_head %}
<!-- channel.html block_head -->
<!-- css -->
<link type="text/css" rel="stylesheet" href="/static/ci/css/channel.css" >
<!-- js -->
<script type="text/javascript" src="/static/ci/js/websocket_utility.js"></script>
<script type="text/javascript" src="/static/ci/js/channel.js"></script>
<script type="text/javascript">
    var strHostCIUserUID = "{{ userHost.ciuser.strCIUserUID }}";
    var strCsrfToken = "{{ csrf_token }}";
    var strVisitorCIUserUID = null;
    {% if request.user.is_authenticated  %}
        strVisitorCIUserUID = "{{ request.user.ciuser.strCIUserUID }}";
    {% endif %}
</script>
{% endblock block_head %}

<!-- override block_content -->
{% block block_content %}
<!-- channel.html block_content -->

<!-- 頻道標頭 -->
<div class="row">
    <!-- 頻道名稱 -->
    <h4 id="channelName" class="text-left col-xs-9">{{ userHost.ciuser.strDisplayName }} 的頻道</h4>
    <!-- 文字方向切換鈕 -->
    <div class="col-xs-2">
        <input type="checkbox" id="checkboxMsgAlign" data-toggle="toggle" data-on="right" data-off="left" data-offstyle="primary" data-size="mini">
    </div>
    <!-- 文字顏色說明 -->
    <div class="col-xs-1 dropdown">
        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="glyphicon glyphicon-text-color"></span>
        </button>
        <ul id="ulMsgColorGuide" class="dropdown-menu dropdown-menu-right">
            <li><span class="roleAnonymous">路人</span></li>
            <li><span class="roleCiuser">用戶</span></li>
            <li><span class="roleFollower">主持人的追隨者</span></li>
            <li><span class="roleHost">頻道主持人</span></li>
            <li><span class="roleLeader">主持人的領導人</span></li>
            <li><span class="roleSys">系統訊息</span></li>
        </ul>
    </div>
</div>
<!-- 聊天內容 -->
<div class="row">
    <ul id="ulChatMessage" class="list-group col-xs-12">
    </ul>
</div>
<!-- 訊息輸入框 -->
<div class="input-group row">
    <input type="text" id="inputChatMsg" name="inputChatMsg" class="form-control" placeholder="限制 255 字元：" maxlength="255">
    <div class="input-group-btn">
        <button id="btnSendChatMsg" class="btn btn-default" type="button">
            <i class="glyphicon glyphicon-send"></i>
        </button>
    </div>
</div>
{% endblock block_content %}