<!-- extends chat/base_chat.html -->
{% extends "chat/base_chat.html" %}

<!-- override block_head -->
{% block block_head %}
<!-- channel.html block_head -->
<!-- css -->
<link type="text/css" rel="stylesheet" href="/static/ci/css/channel.css?{% now 'YmdA' %}" >
<!-- js -->
<script type="text/javascript" src="/static/ci/js/websocket_utility.js?{% now 'YmdA' %}"></script>
<script type="text/javascript" src="/static/ci/js/channel.js?{% now 'YmdA' %}"></script>
<script type="text/javascript">
    var strHostCIUserUID = "{{ userHost.ciuser.strCIUserUID }}";
    var strCsrfToken = "{{ csrf_token }}";
    var strVisitorCIUserUID = null;
    {% if request.user.is_authenticated  %}
        strVisitorCIUserUID = "{{ request.user.ciuser.strCIUserUID }}";
    {% endif %}
</script>
{% endblock block_head %}

<!-- override block_content -->
{% block block_content %}
<!-- channel.html block_content -->

<!-- 頻道標頭 -->
<div class="row">
    <!-- 頻道名稱 -->
    <h4 id="channelName" class="text-left col-xs-9">{{ userHost.ciuser.strDisplayName }} 的頻道</h4>
    <!-- 文字方向切換鈕 -->
    <div class="col-xs-2">
        <input type="checkbox" id="checkboxMsgAlign" data-toggle="toggle" data-on="right" data-off="left" data-offstyle="primary" data-size="mini">
    </div>
    <!-- 文字顏色說明 -->
    <div class="col-xs-1 dropdown">
        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="glyphicon glyphicon-text-color"></span>
        </button>
        <ul id="ulMsgColorGuide" class="dropdown-menu dropdown-menu-right">
            <li><span class="roleAnonymous">路人</span></li>
            <li><span class="roleCiuser">用戶</span></li>
            <li><span class="roleFollower">主持人的追隨者</span></li>
            <li><span class="roleHost">頻道主持人</span></li>
            <li><span class="roleLeader">主持人的領導人</span></li>
            <li><span class="roleSys">系統訊息</span></li>
        </ul>
    </div>
</div>
<!-- 聊天內容 -->
<div class="row">
    <ul id="ulChatMessage" class="list-group col-xs-12">
    </ul>
</div>
<!-- 訊息輸入框 -->
<div class="input-group row">
    <!-- 輸入框 -->
    <span contenteditable="true" id="inputChatMsg" name="inputChatMsg" class="singleLine form-control">
    </span>
    <!-- 顏文字 dropup -->
    <div class="input-group-btn dropup">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
            <img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f603.png"></img>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <div class="row" style="width: 280px;">
                    <ul class="list-unstyled col-xs-1">
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/2757.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/2753.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/2665.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f923.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f924.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f922.png"></img></li>
                    </ul>
                    <ul class="list-unstyled col-xs-1">
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f911.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f913.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f914.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f915.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f917.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f641.png"></img></li>
                    </ul>
                    <ul class="list-unstyled col-xs-1">
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f642.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f643.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f644.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f633.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f635.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f637.png"></img></li>
                    </ul>
                    <ul class="list-unstyled col-xs-1">
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f630.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f631.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f634.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f636.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f629.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f621.png"></img></li>
                    </ul>
                    <ul class="list-unstyled col-xs-1">
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f622.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f623.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f624.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f625.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f627.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f628.png"></img></li>
                    </ul>
                    <ul class="list-unstyled col-xs-1">
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f618.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f620.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f612.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f614.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f616.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f617.png"></img></li>
                    </ul>
                    <ul class="list-unstyled col-xs-1">
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f619.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f610.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f613.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f605.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f606.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f609.png"></img></li>
                    </ul>
                    <ul class="list-unstyled col-xs-1">
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f611.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f607.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f608.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f602.png"></img></li>
                        <li class="liInsertEmojiIcon"><img width=18 height=18 src="/static/EmojiOne_3.0_32x32_png/1f603.png"></img></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <!-- 發送按鈕 -->
    <div class="input-group-btn">
        <button id="btnSendChatMsg" class="btn btn-default" type="button">
            <i class="glyphicon glyphicon-send"></i>
        </button>
    </div>
</div>
{% endblock block_content %}

<!-- override block_hidden -->
{% block block_hidden %}
<!-- channel.html block_hidden -->
<!-- 訊息文字過長 Dialog -->
<div id="dialogInputChatMsgTooLong" class="dialogHidden" title="訊息文字過長">
    <p id="strClearResult">
        <span class="ui-icon ui-icon-alert"></span>
        您的訊息文字過長，請調整一下囉！
    </p>
</div>
{% endblock block_hidden %}